.heading {
    background-color: #101010;
    border-radius: 10px;
    display: flex;
    margin: 30px;
    padding-left: 30px;
    margin-top: 21px;
}

body {
    font-family: 'Poppins', sans-serif;

}

.link btn {
    color: red;
    border-radius: 10px;
}

p {
    color: white;
}

h1 {
    font-size: 70px;
    color: white;
}

img {
    width: 100%;
    height: 100%;
}

.link button {
    background-color: orange;
    text-align: center;
}

.banner {
    width: 224px;
    height: 104px;
}

details {
    border-bottom: #101010;
}

.two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    margin: 35px;
    margin-top: 40px;
}

.three {
    padding: 30px;
    background-color: grey;
    width: 100%;
    border-radius: 40px;
    margin: 15px;
}

.h2 {
    color: white;
    text-align: center;
}

.hd {
    text-align: center;
}

.contact {
    padding-left: 350px;
    column-gap: 80px;
    text-align: center;
    display: flex;

}

.logo {
    text-align: center;
    gap: 40px;
}